@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .video-wrapper {
    height: calc(100vh - 56px);
  }
}

@keyframes fall {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
