@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .video-wrapper {
    height: calc(100vh - 56px);
  }
  .red-pill .pill {
    transform-origin: center;
  }
  .red-pill:hover .pill {
    transform: rotateX(90deg) translateX(-50%) translateY(-50%);
  }
  .blue-pill:hover .pill {
    transform: rotateX(90deg) translateX(-50%) translateY(-50%);
  }

  .typing-demo {
    width: 21ch;
    animation: typing 2s steps(21);
    white-space: nowrap;
    overflow: hidden;
    font-size: 48px;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes fall-1 {
  0% {
    top: 0;
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(-5px);
    top: 100%;
  }
}

@keyframes fall-2 {
  0% {
    top: 0;
  }
  50% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(-5px);
    top: 100%;
  }
}
@keyframes fall-3 {
  0% {
    top: 0;
  }
  50% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(-5px);
    top: 100%;
  }
}
@keyframes fall-4 {
  0% {
    top: 0;
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(-5px);
    top: 100%;
  }
}
@keyframes fall-5 {
  0% {
    top: 0;
  }
  30% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(-5px);
    top: 100%;
  }
}
